{% extends 'base.html' %}
{% load static %}
{% block links %}
{{ block.super }}
<link rel='stylesheet' href="{% static 'client/dist/app.css' %}"></link>
{% endblock %}
{% block content %}
<div id="appHome">
  	<div id="app">
    </div>
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
<script src="{% static 'client/dist/vendors.bundle.js' %}"></script>
<script src="{% static 'client/dist/runtime.bundle.js' %}"></script>
<script src="{% static 'client/dist/app.bundle.js' %}"></script>
{% endblock %}
